/*body{
    background: orange;
}*/

#contenedor {
    position: relative;
}

#divExt {
    position: absolute;
    top: 200px;
    left: 400px;
    width: 200px;
    height: 200px;
    background: linear-gradient(to left,
     rgba(30%, 50%, 70%, .8 ) 50% ,
     rgba(90%, 25%, 20%, .6 ) 55% );
    
    border-radius: 50%;
}

#divInt {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 170px;
    height: 170px;
    background-color: red;
    border-radius: 50%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 35px;
}

/*#divB {
    position: absolute;
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom,
     transparent 40% ,
     white 40% );
     border-radius: 50%;
     transform: scale(1.05);
     box-sizing: border-box;
    padding: 80px 75px;
    border-top: #e1e3fb 1px solid;
}*/

#divB {
    position: absolute;
    top: 80px;
    width: 200px;
    height: 120px;
    background: blue;
      
    box-sizing: border-box;
    padding: 0 75px;
    border-top: #e1e3fb 1px solid;
}

#prueba{
    width: 200px;
    height: 200px;
 /*   background: blue;*/
     }